<a class="list-group-item list-group-item-action mb-1" id="list-{{nombre}}-list" data-toggle="list" href="#list-{{nombre}}"
    role="tab" aria-controls={{nombre}}>
    {{nombre}}
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</a>